
  .arr{
    margin-top: -70px;
  }
  .nav-link{
    color: white;
    font-family:'Viga', sans-serif;
    font-size: 20px;
    }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    }
  .rect {
    border-radius: 15px 12px 20px;
    height:59px;
     width: 15%;
     text-align:center;
     background-color: red;
     margin-right: 60%;
  margin-left: 5%;
  color:white;
  z-index: 1;
  position:absolute;
   }
   .no_hov:hover {
     background-color: white;
   }
 .bar{
    background-color: black;
    margin-left: 60%;
   padding-left: 3.5%;
   padding-right: 3.5%;
    border-radius:  15px 12px 20px;
    height:60px;
    z-index: 1;
    position:absolute;
    color: black;
    padding-top: 0.5%;
 }

.ed{
  height:590px;
  width:58px;
opacity: 30%;
}


.zoom:hover {
  transform: scale(1.3);
opacity: 40%;}

.abou{
  padding-top: 34%;
  padding-left: 18%;
padding-right: 24%; color: WHITE;}
h4{
  padding-left: 33%;
  text-align: justify;
}
.rig{
  padding-top: 5%;
  padding-left: 1%;
  text-align: center;
}
p{
  padding-top: 9%;
  text-align: center;
  padding-bottom:  5%;
}
.button-edit{
    padding-left: 40%;
    padding-bottom: 5%;
}

.icon{
margin-left: 25%;
  height: 70%;
  width: 50%;
 border-radius: 100%;
}

.bottomleft {
  position: absolute;
bottom: -23px;
  left: 15px;
  font-size: 20px;
  text-shadow:2px 3px 3px #000000;
  color: white;
  font-family:'Lobster', cursive;
}
.cont{
  position: relative;
}

input{
  width: 30%;
}
.boxim{
  width: 100%;
  height: 230%;
}
.box2{
  width: 55%;
  height: 300px;
  background-color: blue;
  border-radius: 15px 20px 30px;
  z-index: 1;
  position:absolute;
  margin-left: 80px;
}
.circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    position: absolute;
}


.deg1 {
  transform: rotate(270deg) translateX(8.5em) rotate(-270deg) translateX(-8em) translatex(-0.5em);
  size:100px;
  color:white;

}
.deg2 {
  transform: translate(6em) translateY(5em);
}
.deg3 {
  transform: rotate(45deg) translateY(8em) rotate(-45deg) translateY(-10.5em);
}
.deg4 {
  transform: rotate(135deg) translate(-10em) rotate(-135deg) translateY(2em);
}
.deg5 {
  transform: rotate(80deg) translate(3em) rotate(-80deg);
}
.deg6 {
  transform: rotate(225deg) translate(2.2em) rotate(-225deg);
}
.deg7{
    transform: rotate(0deg) translate(9em) rotate(0deg) translateY(-15.5em);
}
.deg8{
    transform: rotate(180deg) translate(9em) rotate(180deg) translateY(-14.5em);
}
.circle-container {
  padding-top: 20%;
  position: relative;
  width: 24em;
  height: 24em;
  padding: 2.8em;
  border-radius: 50%;
  margin: 1.75em auto 0;
  padding-bottom: 20%;

}
.last{
    background-image: url("./images/gal.jpg");
    height:70%;
    width: 110%;
    left:0px;
    margin-left: -80px;
}
.righ{
  margin-left: 50%;
  padding-top: 20%;
  color: white;
   pointer-events:none;


}
.end{
  margin-top: 20%;
  color: white;
}
